@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300";
@import "bourbon/bourbon";
@import "neat/neat";
// @import "base/base";
@import "minima";

.home-header {
  text-align: center;
  margin-top: 7%;

  h1 {
    font-size: 3em;
    font-family: $header-font-family;
    margin-bottom: 0px;
  }

  p {
    font-size: 1.2em;
    color: lighten($text-color, 30%);
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    color: $text-color;
    line-height: $base-line-height;
    display: inline;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 10px;

      &:before {
        content: ' // ';
        margin-right: 10px;
      }
    }
  }

}

.rss-subscribe {
  font-size: $small-font-size;
  color: $grey-color;
}