@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300";
@import "bourbon/bourbon";
@import "neat";
@import "minima";

.center {
  text-align: center;
}

/* Image figure styling */
img + em {
  font-size: $small-font-size;
  color: $grey-color;
  display: block;
}

/* home page styling  */
.home-header {
  text-align: center;
  margin-top: $spacing-unit;

  h1 {
    font-size: 3em;
    margin-bottom: 0px;
  }

  p {
    font-size: 1.2em;
    color: lighten($text-color, 30%);
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    color: $text-color;
    line-height: $base-line-height;
    display: inline;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 10px;

      &:before {
        content: ' // ';
        margin-right: 10px;
      }
    }
  }

  @include media-query($on-palm) {
    text-align: left;
    max-width: $content-width - $spacing-unit;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    margin-left: 0;
    margin-top: 0;
  }

}

.post-list-date {
  font-size: $small-font-size;
  color: $grey-color;
}

.rss-subscribe {
  font-size: $small-font-size;
  color: $grey-color;
}

$home-grid: (
  columns: 2,
  gutter: $spacing-unit,
  direction: 'ltr'
);

.home-grid {
  @include grid-container;
}

.home-grid .column {
  @include grid-column(1, $home-grid);

  @include media-query($on-palm) {
    @include grid-column(2, $home-grid);
    margin-left: 0;
    width: 100%;  
  }
}

$project-grid: (
  columns: 3,
  gutter: 0
);

.project-grid {
  list-style: none;
  margin-left: 0;
  @include grid-container;
}

.project-grid .project-tile {
  @include grid-column(1, $project-grid);

  padding-top: 33.3%;
  position: relative;
  overflow: hidden;

  .thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    filter: grayscale(85%) contrast(50%) blur(1px);
    transform: scale(1.05,1.05);
    opacity: 1.0;

    transition: filter 0.7s, transform 0.7s, opacity 0.7s;


    @include media-query($on-palm) {
      filter: grayscale(0%);
    }
  }

  a {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.7s;
    color: invert($text-color);

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: bottom;
    }
  }

  &:hover {
    .thumbnail {
      transform: scale(1.1, 1.1);
      filter: grayscale(0%) contrast(100%) blur(0);
      opacity: 1.0;

    }

    a {
      opacity: 0.0;
    }
  }
}

.home-post-list {
  display: block;
  margin-top: -2px;

  span {
    display: block;
    line-height: 100%;
    padding-bottom: 6px;
  }
}

/* Responsive container for embedding */

.responsive-container {
	position: relative;
	padding-bottom: 53.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
  margin-bottom: $spacing-unit;
}
.responsive-container,
	.responsive-container iframe {
	max-width: $content-width;
	max-height: 720px;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

/* Project List */

$project-list-grid: (
  columns: 2,
  gutter: 0
);

ul.project-list {
  list-style: none;
  margin-left: 0;
  margin: 0;

  @include grid-container;

  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  li {
    display: block;
    display: flex;

    @include grid-column(1, $home-grid);

    @include media-query($on-palm) {
      @include grid-column(2, $home-grid);
      margin-left: 0;
      width: 100%;  
    }

    margin-bottom: $spacing-unit;
  }

  a {
    display: block;
    width: 100%;
    color: $text-color;

    border: 1px solid $grey-color-light;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.7s;

    transform: translate(0,0); // Fix border radius being overlapped by GPU accelerated thumb
    white-space: nowrap;
    position: relative;

    .thumbnail {
      overflow: hidden;
      width: 100%;
      padding-bottom: 66%;
      position: relative;

      div {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        filter: grayscale(85%) contrast(50%) blur(1px);
        transform: scale(1.05,1.05);

        transition: filter 0.7s, transform 0.7s, opacity 0.7s;
      }

      @include media-query($on-palm) {
        div {
          filter: grayscale(0%);
        }
      }   

      @include media-query($on-laptop) {
        div {
          filter: grayscale(0%);
        }
      }

    }

    .content {
      margin: $spacing-unit / 2;
      padding: 0;

      h1 {
        font-size: 30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 0;
      }

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
      }
    }

    &:hover {
      .thumbnail {
        div {
          transform: scale(1.1, 1.1);
          filter: grayscale(0%) contrast(100%) blur(0);
        }
      }
      text-decoration: none;
      color: $brand-color;
      box-shadow: 0 0 5px 3px $grey-color-light;
    }
  }
}