---
layout: default
permalink: /blog/
title: Blog
header_title: Blog
header_link: "/blog/"
---
{% assign posts = site.categories.blog %}

{% for post in posts %}
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
      <ul class="post-meta">
        <li><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%-d %b %Y" }}</time></li>
        {% if post.author %}<li><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span></li>{% endif %}
        <li><a href="{{ site.github_repository }}/blob/master/{{ post.path }}">Source</a></li>
      </ul>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ post.excerpt | extlinks }}

      <a class="post-button" href="{{ post.url | relative_url }}">Continue Reading</a>
    </div>
  </article>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>