---
layout: default
permalink: /projects/
title: Projects
header_title: "Projects"
header_link: "/projects/"
---
{% assign posts = (site.categories.projects | sort: 'order','last') %}

<ul class="project-list">
  {% for post in posts %}
  <li>
    <a href="{{ post.url | relative_url }}">
      <div class="thumbnail">
        {% if post.banner %}
        <div style="background-image: url({% if post.banner contains "://" %}{{post.banner}}{% else %}{{post.banner | relative_url}}{% endif %})"></div>
        {% else %}
        <div style="background-image: url({% if post.thumbnail contains "://" %}{{post.thumbnail}}{% else %}{{post.thumbnail | relative_url}}{% endif %})"></div>
        {% endif %}
      </div>
      <div class="content">
        <h1>{{ post.title | escape }}</h1>
        <p>{{ post.description | strip_html }}</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>