---
layout: default
header_title: "Projects"
header_link: "/projects/"
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.tags.size > 0 %}
    {% comment %}
    <ul class="post-tags">
        {% for tag in page.tags %}
        <li class="post-tag post-tag-{{ tag | slugify }}">{{tag}}</li>
        {% endfor %}
    </ul>
    {% endcomment %}
    {% endif %}

    {% if page.time_period %}
    <time datetime="{{ page.year | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%-d %b, %Y" }}</time>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content | extlinks }}
  </div>

  <p class="post-meta">
  <a href="{{ site.github_repository }}/blob/master/{{ page.path }}" target="_blank">Source</a>
  </p>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
